.headerNav {
  display: flex;
  align-items: center;
  gap: 0px;
}

.headerNavBtn {
  font-weight: 600;
  color: var(--text);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0px 16px;
  height: 40px;
  width: fit-content;
  font-size: 14px;
  transition:
    color 0.15s,
    border-color 0.15s;
}

.headerNavBtn:hover {
  color: var(--accent);
}
